.container__collection-intro {
  text-align: center;
  margin: 90px 0 50px 0;
  padding-top: 70px;
  position: relative;
}

.container__collection::before {
  content: "";
  height: 1px;
  background-color: #ccc;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}

.container__collection-intro__header {
  color: var(--text-black-color);
  font-size: 5rem;
  margin-bottom: 40px;
}

.container__collection-intro__desc {
  color: var(--text-grey-color);
  font-size: 1.6rem;
  width: 770px;
  margin: 0 auto;
}

.container__collection-intro__desc p {
  margin-bottom: 30px;
  line-height: 1.7;
}

.container__collection-filter {
}

.container__collection-filter__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
}

.container__collection-directory {
  color: var(--text-grey-color);
}

.container__collection-directory__home {
  text-decoration: none;
  color: var(--text-grey-color);
}

.container__collection-directory__current {

}

.container__collection-filter-area {
  display: flex;
  align-items: center;
}

.container__collection-filter-box {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.container__collection-filter-box-icon {
  margin-right: 8px;
}

.container__collection-filter-box-icon i {
  color: var(--text-black-color);
  transform: rotate(90deg);
}

.container__collection-filter-box-icon-close {
  margin-right: 8px;
  height: 20px;
  width: 20px;
}

.container__collection-filter-option-number {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: orange;
  color: var(--background-color);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.container__collection-sort-box {
  position: relative;
  padding-left: 15px;
  margin-left: 10px;
}

.container__collection-sort-box::before {
  content: "";
  position: absolute;
  width: 1px;
  height: calc(100% + 4px);
  background-color: rgba(181, 177, 177, 0.3);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.container__collection-sort-box .orderby {
  border: none;
  outline: none;
  padding-left: 5px;
}

.container__collection-filter__content {
  padding-top: 30px;
}

.container__collection-filter__content-chosed {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 15px;
}

.container__collection-filter__content-chosed::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  top: 100%;
  background-color:  rgba(181, 177, 177, 0.3);
}

.chosed-option {
  font-size: 1.6rem;
  background: rgba(0, 0, 0, 0.08);
  padding: 0 10px;
  line-height: 30px;
  border-radius: 15px;
  margin-right: 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.chosed-option .exit-btn {
  height: 20px;
  width: 20px;
  margin-left: 8px;
}

.chosed-remove {
  color: var(--text-grey-color);
  cursor: pointer;
}

.container__collection-filter__content-option {
margin-top: 25px;
display: flex;
align-items: flex-start;
}
.filter-by {
    max-width: 25%;
    margin-right: 40px;

}
.filter-by-header {
    font-size: 1.6rem;
    color: var(--text-grey-color);
    margin-bottom: 25px;

}
.filter-by-color-option {

}
.filter-by-color-list {
    display: flex;
    flex-wrap: wrap;
}


.filter-by-color-item {
height: 24px;
width: 24px;
border-radius: 50%;
margin: 0 10px 5px 0;
}
.filter-by-color-item:hover {
    border: 1px solid black;
}
.filter-by-color-item img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}
